:root {
  --primary-color: #ff0066;
  --tone-light: #efefef;
}

body {
  @include body;
  width: 100vw;
  overflow-x: hidden;
  color: #fff;

  > * {
    box-sizing: border-box;
  }
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
}

li{
  @include li;
}

a {
  @include transition(color);
  color: currentColor;
  text-decoration: none;
}

a:hover,
a:focus-visible {	
  opacity: 0.75;
	color: #525761;
	transition: all 0.5s ease-in;
}

img {
  width: 100%;
}
