.portableText {
  > div > * {
    margin-top: block(medium);
    margin-bottom: block(medium);
  }

  > div > *:first-child {
    margin-top: 0;
  }

  > div > *:last-child {
    margin-bottom: 0;
  }

  a {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    transition: all 1s ease-out;

  }
  a:after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background: #678fdd;
    transition: all 0.5s ease-out;
  }
  
  a:hover {
    color: #678fdd;
    transition: all 0.5s ease-in;
  }
  
  a:hover:after {
    width: 100%;
    transition: all 0.5s ease-in;
  }


  li {
    position: relative;
    padding-left: block(large);
    margin-bottom: block(gutter);
  }

  li::before {
    content: "\2022";
    position: absolute;
    top: 0;
    left: 1.5rem;
    margin-top: -10px;
    font-size: 48px;
    line-height: 1;
    color: var(--primary-color);
  }
}

.textLead {
  @include lead;
}

.textSmall {
  @include small;
}

.portableText .button,
.portableText .blockLink {
  font-size: 18px;
}

.portableText .button {
  @include button;
}

.portableText .button::after {
  display: none;
}
