.footer {
	margin-top: 60px;
	border-top: 2px solid #fff;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint(large up) {
		flex-direction: row;
		padding: 10px 0;
	}
}

.social {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
}

.social a {
		margin: 0 10px 0 0;
}

.copyright {
	margin: 20px 0 !important;
	text-align: center;
	@include breakpoint(large up) {
		margin: 0 !important;
		flex-basis: auto;
	}
}

.footerNav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	@include breakpoint(large up) {
		flex-basis: 160px;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 768px) {
	.footer {
	margin-top: 60px;
	border-top: 2px solid #fff;
	}

	.social {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	.social a {
		margin: 0 10px 0 0;
	}

	.copyright {
		margin: 0;
	}
}